
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour+Convergence&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 2%;
    margin-right: 2%;
}

.navbar .logo {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 500;
    line-height: 27.06px;
    text-align: left;
}

.navbar .nav-link {
    list-style: none;
    display: flex;
    margin: 0;
    width: 475px;
    height: 17px;
    top: 35px;
    left: 447px;
    gap: 0px;
    opacity: 0px;
}

.navbar .nav-links li {
    display: inline;
    color: rgba(0, 0, 0, 1);  
    padding: 20px;
    font-family:"Poppins";
    font-size: 19px;
    font-weight: 500;
    line-height: 17.22px;
    text-align: left;
     
}

.navbar .nav-links li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.navbar .nav-links li a:hover {
    color: rgba(0, 0, 0, 1); 
}

.navbar .sing-in {
    background:none;
    border: none; 
    width: 41px;
    height: 17px;
    top: 35px;
    left: 1100px;
    gap: 0px;
    opacity: 0px;

    color: rgba(0, 0, 0, 1);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 17.22px;
    text-align: left;
}

.navbar .sing-up {
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 1);
    width: 100px;
    height: 48px;
    top: 20px;
    left: 1173px;
    gap: 0px;
    border-radius: 14px;
    opacity: 0px;

    color:rgba(255, 255, 255, 1);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 17.22px;
    text-align: left;
    
}


.navbar .sign-up:hover {
    background-color: #333;
}

img {
    display: block;
    width: 50%;
    margin: 2% 25%;
}

h1{
font-family: "Coustard";
font-size: 48px;
font-weight: 400;
line-height: 67.41px;
text-align: center;
text-underline-position:"from-font";
text-decoration-skip-ink: none;
}

p {
    font-family: "Clash Grotesk";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.14px;
    text-align: center;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
}


.Home {
    width: 180px;
    height: 48px;
    margin: auto 44%;
    gap: 0px;
    border-radius: 14px;
    opacity: 0px;
    background: rgba(0, 0, 0, 1);

    color: rgba(255, 255, 255, 1);
    font-family: "Poppins";

}